{% extends "layout.html" %}

{% block title %}
FOOD SENSE
{% endblock %}

{% block content %}
<!-- main-content-wrap -->
<div class="main-content-inner">
  <!-- main-content-wrap -->

  <div class="container mb-30">
    <!-- custom chart -->
    <div class="row mb-4">
      <!-- Chart Section -->
      <div class="col-md-8">
        <div class="card shadow-sm p-3">
          <div class="d-flex justify-content-center">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
    </div>

    <!-- /custom chart -->
    <br>
    <!-- table start -->
    <div class="row">
      <div class="wg-box">
        <div class="flex items-center justify-between">
          <h5>Stock levels</h5>
        </div>
        <div class="wg-table table-recent-orders">
          <ul class="table-title flex gap20 mb-14">
            <li>
              <div class="body-title text-main-dark" style="width: 50px; "!important>Item ID</div>
            </li>
            <li>
              <div class="body-title text-main-dark">Item Name</div>
            </li>
            <li>
              <div class="body-title text-main-dark">Category</div>
            </li>
            <li>
              <div class="body-title text-main-dark">Quantity</div>
            </li>
            <li>
              <div class="body-title text-main-dark">In-Shelf</div>
            </li>
          </ul>
          <div class="divider mb-14"></div>
          <ul class="flex flex-column has-divider-line has-line-bot">
            {% for item in items %}
            <li class="item wg-product gap20">
              <div class="name">
                <div class="title mb-0">
                  <a class="body-text">{{ item.ItemID }}</a>
                </div>
              </div>
              <div class="body-text text-main-dark mt-4">{{ item.Name }}</div>
              <div class="body-text text-main-dark mt-4">{{ item.Category }}</div>
              <div class="body-text text-main-dark mt-4">{{ item.Quantity }} {{ item.Units }}</div>
              <div>
                <div class="{% if item.InShelf == 'Yes' %}block-available{% else %}block-pending{% endif %} fw-7">
                  {{ item.InShelf }}
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <!-- table ends -->

  </div>
</div>
{% endblock %}