{% extends "layout.html" %}

{% block title %}
FOOD SENSE
{% endblock %}

{% block content %}
<!-- main-content-wrap -->
<div class="main-content-inner">
    <!-- main-content-wrap -->

    <div class="container mb-30">
        <!-- custom chart -->
        <br>

        <!-- table start -->
        <div class="row mx-3">
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Inventory Threshold</h5>
                </div>
                <div class="wg-table table-recent-orders">
                    <ul class="table-title flex gap20 mb-14">
                        <li>
                            <div class="body-title text-main-dark">Item ID</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item Name</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Threshold Value</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Auto Order Set</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column has-divider-line has-line-bot">
                        {% for item in items_threshold %}
                        <li class="item wg-product gap20">
                            <div class="body-text text-main-dark mt-4">{{ item.ItemID }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemName }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ThresholdValue }}</div>
                            <div>
                                <div
                                    class="{% if item.AutoOrderSet == 'Yes' %}block-available{% else %}block-pending{% endif %} fw-7">
                                    {{ item.AutoOrderSet }} </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 1-5 of 10</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>

                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#itemFormModal">
                        Add Item
                    </button>
                </div>

                <!-- Modal for Form -->
                <div class="modal fade" id="itemFormModal" tabindex="-1" aria-labelledby="itemFormModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="itemFormModalLabel">Add New Item
                                </h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="itemName" class="form-label">Item
                                            Name</label>
                                        <input type="text" name="itemname" class="form-control" id="itemName" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="thresholdValue" class="form-label">Threshold
                                            Value</label>
                                        <input type="number" name="thresholdvalue" class="form-control" id="thresholdValue" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="unit" class="form-label">Unit</label>
                                        <input type="text" name="unit" class="form-control" id="thresholdValue" required>
                                    </div>
                                    <div class="container mx-4">
                                        <label class="form-label">Auto Reordering:</label>
                                        <div class="btn-group" role="group" aria-label="Auto Reordering">
                                            <input type="radio" class="btn-check" name="autoReorder" id="autoReorderYes" value="yes" checked>
                                            <label class="btn btn-outline-primary" for="autoReorderYes">Yes</label>
                                    
                                            <input type="radio" class="btn-check" name="autoReorder" id="autoReorderNo" value="no">
                                            <label class="btn btn-outline-primary" for="autoReorderNo">No</label>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-success">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table ends -->

        <br>
        <br>
        <!-- table start -->
        <div class="row mx-3">
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Inventory Realtime</h5>
                </div>
                <div class="wg-table table-recent-orders">
                    <ul class="table-title flex gap20 mb-14">
                        <li>
                            <div class="body-title text-main-dark">Timestamp</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item ID</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item Name</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Weight</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">In-Shelf</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column has-divider-line has-line-bot">
                        {% for item in items_realtime %}
                        <li class="item wg-product gap20">
                            <div class="body-text text-main-dark mt-4">{{ item.Timestamp }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemID }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemName }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.Weight }}</div>
                            <div>
                                <div
                                    class="{% if item.InShelf == 'Yes' %}block-available{% else %}block-pending{% endif %} fw-7">
                                    {{ item.InShelf }}</div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 1-5 of 10</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>

                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- table ends -->
        <br>
        <br>
        <!-- table start -->
        <div class="row mx-3">
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Inventory Purchase</h5>
                </div>
                <div class="wg-table table-recent-orders">
                    <ul class="table-title flex gap30 mb-14">
                        <li>
                            <div class="body-title text-main-dark">Item ID</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item Name</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Category</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Supplier</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Purchase Date</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Invoice No.</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column has-divider-line has-line-bot">
                        {% for item in items_purchase %}
                        <li class="item wg-product gap20">
                            <div class="body-text text-main-dark mt-4">{{ item.ItemID }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemName }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.Category }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.Supplier }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.PurchaseDate }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.InvoiceNumber }}</div>

                        </li>
                        {% endfor %}


                    </ul>
                </div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 1-5 of 10</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>

                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- table ends -->
        <br>
    </div>
</div>


{% endblock %}