{% extends "layout.html" %}

{% block title %}
FOOD SENSE
{% endblock %}

{% block content %}
 <!-- main-content-wrap -->
 <div class="main-content-inner">
    <!-- main-content-wrap -->

    <div class="container mb-30">
        <!-- custom chart -->
        <br>

        <!-- table start -->
        <div class="row mx-3">
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Inventory Threshold</h5>
                </div>
                <div class="wg-table table-recent-orders">
                    <ul class="table-title flex gap20 mb-14">
                        <li>
                            <div class="body-title text-main-dark">Item ID</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item Name</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Threshold Value</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Auto Order Set</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column has-divider-line has-line-bot">
                        {% for item in items_threshold %}
                        <li class="item wg-product gap20">
                            <div class="body-text text-main-dark mt-4">{{ item.ItemID }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemName }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ThresholdValue }}</div>
                            <div>
                                <div class="{% if item.AutoOrderSet == 'Yes' %}block-available{% else %}block-pending{% endif %} fw-7"> {{ item.AutoOrderSet }} </div>
                            </div>
                        </li>
                        {% endfor %}
                        
                    </ul>
                </div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 1-5 of 10</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>

                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- table ends -->



        <br>
        <br>
        <!-- table start -->
        <div class="row mx-3">
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Inventory Realtime</h5>
                </div>
                <div class="wg-table table-recent-orders">
                    <ul class="table-title flex gap20 mb-14">
                        <li>
                            <div class="body-title text-main-dark">Timestamp</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item ID</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item Name</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Weight</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">In-Shelf</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column has-divider-line has-line-bot">
                        {% for item in items_realtime %}
                        <li class="item wg-product gap20">
                            <div class="body-text text-main-dark mt-4">{{ item.Timestamp }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemID }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemName }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.Weight }}</div>
                            <div>
                                <div class="{% if item.InShelf == 'Yes' %}block-available{% else %}block-pending{% endif %} fw-7">{{ item.InShelf }}</div>
                            </div>
                        </li>
                        {% endfor %}
                       
                    </ul>
                </div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 1-5 of 10</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>

                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- table ends -->
        <br>
        <br>
        <!-- table start -->
        <div class="row mx-3">
            <div class="wg-box">
                <div class="flex items-center justify-between">
                    <h5>Inventory Purchase</h5>
                </div>
                <div class="wg-table table-recent-orders">
                    <ul class="table-title flex gap30 mb-14">
                        <li>
                            <div class="body-title text-main-dark">Item ID</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Item Name</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Category</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Supplier</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Purchase Date</div>
                        </li>
                        <li>
                            <div class="body-title text-main-dark">Invoice No.</div>
                        </li>
                    </ul>
                    <div class="divider mb-14"></div>
                    <ul class="flex flex-column has-divider-line has-line-bot">
                        {% for item in items_purchase %}
                        <li class="item wg-product gap20">
                            <div class="body-text text-main-dark mt-4">{{ item.ItemID }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.ItemName }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.Category }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.Supplier }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.PurchaseDate }}</div>
                            <div class="body-text text-main-dark mt-4">{{ item.InvoiceNumber }}</div>
                           
                        </li>
                        {% endfor %}
                        

                    </ul>
                </div>
                <div class="flex items-center justify-between flex-wrap gap10">
                    <div class="text-tiny">Showing 1-5 of 10</div>
                    <ul class="wg-pagination">
                        <li>
                            <a href="#"><i class="icon-chevron-left"></i></a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>

                        <li>
                            <a href="#"><i class="icon-chevron-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- table ends -->
        <br>
    </div>
</div>


{% endblock %}